[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
ipykernel = "*"

[packages]
sqlalchemy = "*"
lxml = "*"
cerberus = "*"
pydrive = "*"
pandas = "*"
requests = "*"
bs4 = "*"
cssselect = "*"
selenium = "*"
python-dotenv = "*"
xlrd = "*"
openpyxl = "*"
pyyaml = "*"

[requires]
python_version = "3.7"
